<div class="col-xs-12">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <button type="button" class="btn btn-primary fullWidth" (click)="SetShowSeats()">Vælg dato udfra sæde</button>
      </div>
      <div class="col-xs-6 col-md-6">
        <button type="button" class="btn btn-primary fullWidth" (click)="SetShowDatePicker()">Vælg sæde udfra dato</button>
      </div>
    </div>

    <br>

    <app-datepicker [ngStyle]="{'display': GetShowDatePicker() ? 'block' : 'none'}"></app-datepicker>

    <br>

    <app-seating [ngStyle]="{'display': GetShowSeats() ? 'block' : 'none'}"></app-seating>

    <button type="button" class="btn btn-primary center" (click)="CalculateAvailableTimeSlots()" [ngStyle]="{'display': GetShowButtonForTimeSlots() ? 'block' : 'none'}">Vis ledige datoer for denne forestilling</button>
    <app-available-time [ngStyle]="{'display': GetShowTimeSlots() ? 'block' : 'none'}"></app-available-time>
  </div>
</div>
