<div class="container">
  <h2>Min profil</h2>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="https://cdn2.iconfinder.com/data/icons/interface-solid-2/32/account-512.png" class="img-thumbnail" style="width: 25%;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div>
        <h5>Navn: </h5>
        <h5>Alder: </h5>
        <h5>Adresse: </h5>
        <h5>Email: </h5>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h3>Mine bestillinger</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let show of shows; let i = index">
        <div class="card">
          <img class="card-img-top-profil" src="https://img.broadwaybox.com/photo/image/ben-phantom-1-large.jpg" height="200px">
        </div>
        <div class="card-body">
          <h5>
            Phantom of the Opera
          </h5>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h3>Aktive forestillinger</h3>
  </div>
  </div>
