<div class="shows">
  <div class="container">
    <h2>AKTUELLE FORESTILLINGER</h2>
    <hr class="divider">
    <div class="row">
      <div class="col-sm-3" *ngFor="let show of shows; let i = index">
        <div class="card">
            <img class="card-img-top" src="https://img.broadwaybox.com/photo/image/ben-phantom-1-large.jpg" height="400px">
            <div class="card-body">
              <h5>Phantom of the Opera</h5>
              <p>En virkelig fed fortælling. Her kan man skrive lidt shit om hver forestilling.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>