h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.divider {
	width: 15%;
	background: #353a3f;
	border: 1px solid #353a3f;
}


.card {
    margin-top: 20px;
}

.card-img-top {
    object-fit: none;
    object-position: center;
}