<h3>
  Log ind
</h3>
<form>
  <div class="form-group">
    <label for="emailInput_login">Email adresse</label>
    <input type="email" class="form-control" id="emailInput_login" aria-describedby="emailHelp" placeholder="Indtast email" #username>
  </div>
  <div class="form-group">
    <label for="passwordInpu_passwordt">Password</label>
    <input type="password" class="form-control" id="passwordInpu_passwordt" placeholder="Password" #password>
  </div>
  <button type="submit" class="btn btn-success" (click)="OnLoginPressed(username.value, password.value)">Login</button>
  <button type="button" class="btn btn-link">Har du glemt dit password?</button>
</form>
