<h3>Er det første gang du besøger os?</h3>
<h6>Opret en bruger og bestil dine første billetter</h6>

<hr>

<form>
  <div class="form-group">
    <label for="emailInput">Email adresse</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Indtast email">
  </div>
  <div class="form-group">
    <label for="nameInput">Fornavn</label>
    <input type="email" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Fornavn">
  </div>
  <div class="form-group">
    <label for="surNameInput">Efternavn</label>
    <input type="email" class="form-control" id="surNameInput" aria-describedby="emailHelp" placeholder="Efternavn">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Opret bruger</button>
</form>