.row {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.seat {
    cursor: pointer;
    width: 5%;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.seat:hover {
    background: rgba(0, 0, 0, 0.5);
}

h6 {
    background: whitesmoke;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 5%;
}