.row {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.seat {
    cursor: pointer;
    width: 5%;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #2E7D32, #388E3C, #43A047, #4CAF50, #66BB6A, #81C784,  #A5D6A7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.seat:hover {
    background: rgba(0, 0, 0, 0.5);
}

h6 {
    background: whitesmoke;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}